<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css"/>
  <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico"/>
{% endblock head %}
</head>

<body>
<header id="banner">
  <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
  <nav><ul>
    {% for title, link in MENUITEMS %}
      <li {% if link == "/" + output_file %}class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
  </ul></nav><!-- /#menu -->
</header><!-- /#banner -->

{% block content %}
{% endblock %}

<footer class="body">
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0;display:inline" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> This work is licensed under a
  <br />
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
  <br />
  Hosted on <a href="https://github.com/">GitHub</a>, powered by
  <a href="http://getpelican.com/">Pelican</a>.
</footer>

</body>
</html>

