{% extends "base.html" %}

{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

{% for article in articles_page.object_list if not article.hide %}
  <article class="hentry">
    <section class="entry-title">
      <h5><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
    </section>
    <aside class="post-info">
      <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
    </aside><!-- /.post-info -->
    <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
  </article>
{% endfor %}

{% include 'pagination.html' %}

</section><!-- /#content -->

{% endblock content %}
